In [3]:
from pyspark.sql import SparkSession
import getpass

In [4]:
userName = getpass.getuser()
print(userName)

band

In [ ]:
spark = SparkSession.\
        builder.\
        config("spark.ui.port","0").\
        master("yarn").\
        enableHiveSupport().\
        config("spark.sql.warehouse.dir", f"/user/{userName}/warehouse").\
        appName("Section1516").\
        getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2021-12-28 09:46:15,609 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [5]:
print(employees)

[(1, 'Scott', 'Tiger', 1000.0, 'united states', '+1 123 456 7890', '123 45 6789'), (2, 'Henry', 'Ford', 1250.0, 'India', '+91 234 567 8901', '456 78 9123'), (3, 'Nick', 'Junior', 750.0, 'united KINGDOM', '+44 111 111 1111', '222 33 4444'), (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA', '+61 987 654 3210', '789 12 6118')]

In [6]:
employeesDF = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [7]:
employeesDF.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: float (nullable = true)
 |-- nationality: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- ssn: string (nullable = true)

In [8]:
employeesDF.show(truncate=False)

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality   |phone_number    |ssn        |
+-----------+----------+---------+------+--------------+----------------+-----------+
|1          |Scott     |Tiger    |1000.0|united states |+1 123 456 7890 |123 45 6789|
|2          |Henry     |Ford     |1250.0|India         |+91 234 567 8901|456 78 9123|
|3          |Nick      |Junior   |750.0 |united KINGDOM|+44 111 111 1111|222 33 4444|
|4          |Bill      |Gomes    |1500.0|AUSTRALIA     |+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [9]:
from pyspark.sql.functions import *

In [10]:
employeesDF. \
    select("employee_id", "phone_number", "ssn"). \
    withColumn("phone_last4", substring(col("phone_number"), -4, 4).cast("int")). \
    withColumn("ssn_last4", substring(col("ssn"), 8, 4).cast("int")). \
    show()

+-----------+----------------+-----------+-----------+---------+
|employee_id|    phone_number|        ssn|phone_last4|ssn_last4|
+-----------+----------------+-----------+-----------+---------+
|          1| +1 123 456 7890|123 45 6789|       7890|     6789|
|          2|+91 234 567 8901|456 78 9123|       8901|     9123|
|          3|+44 111 111 1111|222 33 4444|       1111|     4444|
|          4|+61 987 654 3210|789 12 6118|       3210|     6118|
+-----------+----------------+-----------+-----------+---------+

In [18]:
x = [(1,),(2,),]
d = spark.createDataFrame(x, schema="number INT")
d.show()

+------+
|number|
+------+
|     1|
|     2|
+------+

In [23]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united states", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [24]:
employeesDF = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [25]:
employeesDF. \
    select("*"). \
    show()

+-----------+----------+---------+------+-------------+----------------+-----------+
|employee_id|first_name|last_name|salary|  nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|        India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united states|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|    AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-------------+----------------+-----------+

In [71]:
employeesDF. \
    groupBy(col("nationality")). \
    count(). \
    orderBy(col("nationality").asc()). \
    show()

+-------------+-----+
|  nationality|count|
+-------------+-----+
|    AUSTRALIA|    1|
|        India|    1|
|united states|    2|
+-------------+-----+

In [ ]:
spark.sql("CREATE DATABASE company")

In [32]:
spark.sql("USE company")

++
||
++
++

In [52]:
spark.sql("SELECT CURRENT_DATABASE()")

+------------------+
|current_database()|
+------------------+
|           company|
+------------------+

In [ ]:
spark.sql("""
        CREATE TABLE employees(
            employee_id INT,
            first_name STRING, 
            last_name STRING,
            salary FLOAT,
            nationality STRING,
            phone_number STRING,
            ssn STRING
        )
          """)

In [55]:
spark.sql("SHOW TABLES")

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  company|employees|      false|
|  company|    staff|      false|
+---------+---------+-----------+

In [54]:
employeesDF.write.saveAsTable('staff')

In [63]:
a = spark.sql("SELECT * FROM staff")

In [64]:
print(type(a))

<class 'pyspark.sql.dataframe.DataFrame'>

In [65]:
dff = spark.table('staff')

In [66]:
display(dff)

+-----------+----------+---------+------+-------------+----------------+-----------+
|employee_id|first_name|last_name|salary|  nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-------------+----------------+-----------+
|          3|      Nick|   Junior| 750.0|united states|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|    AUSTRALIA|+61 987 654 3210|789 12 6118|
|          1|     Scott|    Tiger|1000.0|united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|        India|+91 234 567 8901|456 78 9123|
+-----------+----------+---------+------+-------------+----------------+-----------+

In [82]:
employeesDF.select(current_date().alias('date_now'), current_timestamp().alias('time_now')).show()

+----------+--------------------+
|  date_now|            time_now|
+----------+--------------------+
|2021-12-27|2021-12-27 11:27:...|
|2021-12-27|2021-12-27 11:27:...|
|2021-12-27|2021-12-27 11:27:...|
|2021-12-27|2021-12-27 11:27:...|
+----------+--------------------+

In [199]:
employeesDF.select(to_date(lit('20211212'), 'yyyymmdd').alias('date')).show()

+----------+
|      date|
+----------+
|2021-01-12|
|2021-01-12|
|2021-01-12|
|2021-01-12|
+----------+

In [100]:
datetimes = [("2014-02-28", "2014-02-28 10:00:00.123"),
                     ("2016-02-29", "2016-02-29 08:08:08.999"),
                     ("2017-10-31", "2017-12-31 11:59:59.123"),
                     ("2019-11-30", "2019-08-31 00:00:00.000")
                ]

In [101]:
datetimesDF = spark.createDataFrame(datetimes, schema="date STRING, time STRING")

In [103]:
datetimesDF.show(truncate=False)

+----------+-----------------------+
|date      |time                   |
+----------+-----------------------+
|2014-02-28|2014-02-28 10:00:00.123|
|2016-02-29|2016-02-29 08:08:08.999|
|2017-10-31|2017-12-31 11:59:59.123|
|2019-11-30|2019-08-31 00:00:00.000|
+----------+-----------------------+

In [104]:
datetimesDF. \
    withColumn("date_add_date", date_add("date", 10)). \
    withColumn("date_add_time", date_add("time", 10)). \
    withColumn("date_sub_date", date_sub("date", 10)). \
    withColumn("date_sub_time", date_sub("time", 10)). \
    show()

+----------+--------------------+-------------+-------------+-------------+-------------+
|      date|                time|date_add_date|date_add_time|date_sub_date|date_sub_time|
+----------+--------------------+-------------+-------------+-------------+-------------+
|2014-02-28|2014-02-28 10:00:...|   2014-03-10|   2014-03-10|   2014-02-18|   2014-02-18|
|2016-02-29|2016-02-29 08:08:...|   2016-03-10|   2016-03-10|   2016-02-19|   2016-02-19|
|2017-10-31|2017-12-31 11:59:...|   2017-11-10|   2018-01-10|   2017-10-21|   2017-12-21|
|2019-11-30|2019-08-31 00:00:...|   2019-12-10|   2019-09-10|   2019-11-20|   2019-08-21|
+----------+--------------------+-------------+-------------+-------------+-------------+

In [105]:
datetimesDF. \
    withColumn("datediff_date", datediff(current_date(), "date")). \
    withColumn("datediff_time", datediff(current_timestamp(), "time")). \
    show()

+----------+--------------------+-------------+-------------+
|      date|                time|datediff_date|datediff_time|
+----------+--------------------+-------------+-------------+
|2014-02-28|2014-02-28 10:00:...|         2859|         2859|
|2016-02-29|2016-02-29 08:08:...|         2128|         2128|
|2017-10-31|2017-12-31 11:59:...|         1518|         1457|
|2019-11-30|2019-08-31 00:00:...|          758|          849|
+----------+--------------------+-------------+-------------+

In [106]:
datetimesDF. \
    withColumn("months_between_date", round(months_between(current_date(), "date"), 2)). \
    withColumn("months_between_time", round(months_between(current_timestamp(), "time"), 2)). \
    withColumn("add_months_date", add_months("date", 3)). \
    withColumn("add_months_time", add_months("time", 3)). \
    show(truncate=False)

+----------+-----------------------+-------------------+-------------------+---------------+---------------+
|date      |time                   |months_between_date|months_between_time|add_months_date|add_months_time|
+----------+-----------------------+-------------------+-------------------+---------------+---------------+
|2014-02-28|2014-02-28 10:00:00.123|93.97              |93.97              |2014-05-28     |2014-05-28     |
|2016-02-29|2016-02-29 08:08:08.999|69.94              |69.94              |2016-05-29     |2016-05-29     |
|2017-10-31|2017-12-31 11:59:59.123|49.87              |47.87              |2018-01-31     |2018-03-31     |
|2019-11-30|2019-08-31 00:00:00.000|24.9               |27.89              |2020-02-29     |2019-11-30     |
+----------+-----------------------+-------------------+-------------------+---------------+---------------+

In [107]:
employee2 = [(1, "Scott", "Tiger", 1000.0, 10,
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, None,
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, '',
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 10,
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [108]:
employeesDF2 = spark. \
    createDataFrame(employee2,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, bonus STRING, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [110]:
employeesDF2.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [178]:
employeesDF2.select('*').filter(~col('bonus').isNull()).show()

+-----------+----------+---------+------+-----+-------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|  nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+-------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| 20.0|united states| +1 123 456 7890|123 45 6789|
|          4|      Bill|    Gomes|1500.0| 20.0|    AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+-------------+----------------+-----------+

In [165]:
employeesDF2.select('*').withColumn('bonus', col('bonus')).show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [147]:
employeesDF2.withColumn(\
            'bonus', \
            when((col('bonus').isNull()) | (col('bonus') == ''), 0).\
            otherwise(col('bonus'))).\
            show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|    0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|    0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [212]:
employeesDF2. \
    withColumn(
        'bonus',
        when((col('bonus').isNull()) | (col('bonus') == ''), 0).otherwise(col('bonus'))
    ).\
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| 20.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|  0.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|  0.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0| 20.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [173]:
employeesDF2 = employeesDF2.withColumn('bonus', col('bonus')*2)

In [174]:
employeesDF2.select('*').beetw.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| 20.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0| null|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0| 20.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [180]:
employeesDF2.filter(col('nationality').isin('united states', 'united KINGDOM')).show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| 20.0| united states| +1 123 456 7890|123 45 6789|
|          3|      Nick|   Junior| 750.0| null|united KINGDOM|+44 111 111 1111|222 33 4444|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [183]:
employeesDF2.filter(col('nationality').like('unit%')).show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| 20.0| united states| +1 123 456 7890|123 45 6789|
|          3|      Nick|   Junior| 750.0| null|united KINGDOM|+44 111 111 1111|222 33 4444|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [192]:
employeesDF2.filter(col('bonus').between(-10,20)).show()

+-----------+----------+---------+------+-----+-------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|  nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+-------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| 20.0|united states| +1 123 456 7890|123 45 6789|
|          4|      Bill|    Gomes|1500.0| 20.0|    AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+-------------+----------------+-----------+

In [193]:
employeesDF2.filter(col('bonus').between(-10,20)).describe().show()

+-------+------------------+----------+---------+-----------------+-----+-------------+----------------+-----------+
|summary|       employee_id|first_name|last_name|           salary|bonus|  nationality|    phone_number|        ssn|
+-------+------------------+----------+---------+-----------------+-----+-------------+----------------+-----------+
|  count|                 2|         2|        2|                2|    2|            2|               2|          2|
|   mean|               2.5|      null|     null|           1250.0| 20.0|         null|            null|       null|
| stddev|2.1213203435596424|      null|     null|353.5533905932738|  0.0|         null|            null|       null|
|    min|                 1|      Bill|    Gomes|           1000.0| 20.0|    AUSTRALIA| +1 123 456 7890|123 45 6789|
|    max|                 4|     Scott|    Tiger|           1500.0| 20.0|united states|+61 987 654 3210|789 12 6118|
+-------+------------------+----------+---------+-----------------+-----+-------------+----------------+-----------+

In [194]:
employeesDF2.filter(col('bonus').between(-10,20)).summary().show()

+-------+------------------+----------+---------+-----------------+-----+-------------+----------------+-----------+
|summary|       employee_id|first_name|last_name|           salary|bonus|  nationality|    phone_number|        ssn|
+-------+------------------+----------+---------+-----------------+-----+-------------+----------------+-----------+
|  count|                 2|         2|        2|                2|    2|            2|               2|          2|
|   mean|               2.5|      null|     null|           1250.0| 20.0|         null|            null|       null|
| stddev|2.1213203435596424|      null|     null|353.5533905932738|  0.0|         null|            null|       null|
|    min|                 1|      Bill|    Gomes|           1000.0| 20.0|    AUSTRALIA| +1 123 456 7890|123 45 6789|
|    25%|                 1|      null|     null|           1000.0| 20.0|         null|            null|       null|
|    50%|                 1|      null|     null|           1000.0| 20.0|         null|            null|       null|
|    75%|                 4|      null|     null|           1500.0| 20.0|         null|            null|       null|
|    max|                 4|     Scott|    Tiger|           1500.0| 20.0|united states|+61 987 654 3210|789 12 6118|
+-------+------------------+----------+---------+-----------------+-----+-------------+----------------+-----------+

In [196]:
employeesDF2.select(countDistinct('*').alias('count_all')).show()

+---------+
|count_all|
+---------+
|        2|
+---------+

In [216]:
employeesDF2.withColumn('abc_clm', col('bonus').cast('int')).show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|abc_clm|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|          1|     Scott|    Tiger|1000.0| 20.0| united states| +1 123 456 7890|123 45 6789|     20|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|   null|
|          3|      Nick|   Junior| 750.0| null|united KINGDOM|+44 111 111 1111|222 33 4444|   null|
|          4|      Bill|    Gomes|1500.0| 20.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|     20|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+

employeesDF2.groupBy('bonus').sum('salary').alias('SUM').show()

In [222]:
employeesDF2.rollup('bonus').sum('salary').alias('SUM').show()

+-----+-----------+
|bonus|sum(salary)|
+-----+-----------+
| 20.0|     2500.0|
| null|     2000.0|
| null|     4500.0|
+-----+-----------+

In [238]:
employeesDF2.groupBy('bonus').agg(sum('salary').alias('SUM')).sort(col('bonus').asc_nulls_last()).show()

+-----+------+
|bonus|   SUM|
+-----+------+
| 20.0|2500.0|
| null|2000.0|
+-----+------+