In [ ]:
# Spark SQL fundamentals

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.\
    builder.\
    config("spark.ui.port", "0").\
    config("spark.sql.warehouse.dir", "/user/itversity/warehouse").\
    enableHiveSupport().\
    appName("Getting Started - Spark SQL").\
    master("yarn").\
    getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2021-12-22 10:31:48,260 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.sql("SET spark.sql.warehouse.dir")

+--------------------+--------------------+
|                 key|               value|
+--------------------+--------------------+
|spark.sql.warehou...|/user/itversity/w...|
+--------------------+--------------------+

In [5]:
spark.sql("SHOW DATABASES").show()

2021-12-22 10:42:33,847 WARN conf.HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
2021-12-22 10:42:33,849 WARN conf.HiveConf: HiveConf of name hive.stats.retries.wait does not exist

+-----------+
|  namespace|
+-----------+
|band_retail|
|    default|
|  retail_db|
+-----------+

In [6]:
spark.sql("USE band_retail")

2021-12-22 10:45:17,650 WARN metastore.ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

++
||
++
++

In [7]:
spark.sql("SHOW TABLES")

+-----------+-----------+-----------+
|  namespace|  tableName|isTemporary|
+-----------+-----------+-----------+
|band_retail|order_items|      false|
|band_retail|     orders|      false|
+-----------+-----------+-----------+

In [14]:
spark.sql("DESCRIBE FORMATTED orders").show(200)

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            order_id|                 int|   null|
|          order_date|              string|   null|
|   order_customer_id|                 int|   null|
|        order_status|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|         band_retail|       |
|               Table|              orders|       |
|               Owner|                band|       |
|        Created Time|Tue Dec 21 15:12:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.2.0|       |
|                Type|             MANAGED|       |
|            Provider|                hive|       |
|    Table Properties|[transient_lastDd...|       |
|          Statistics|       2999944 bytes|       |
|            Location|hdfs://127.0.0.1:...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
|  Storage Properties|[serialization.fo...|       |
|  Partition Provider|             Catalog|       |
+--------------------+--------------------+-------+

In [16]:
spark.sql("LOAD DATA LOCAL INPATH '/data/retail_db/orders' INTO TABLE orders")

2021-12-22 10:59:40,469 WARN session.SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
2021-12-22 10:59:40,531 WARN conf.HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
2021-12-22 10:59:40,531 WARN conf.HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
2021-12-22 10:59:40,533 WARN conf.HiveConf: HiveConf of name hive.stats.retries.wait does not exist

++
||
++
++

In [17]:
spark.sql("SELECT * FROM orders LIMIT 15")

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|
+--------+--------------------+-----------------+---------------+

In [20]:
spark.sql("CREATE DATABASE orderTest")

2021-12-22 11:13:20,356 WARN metastore.ObjectStore: Failed to get database ordertest, returning NoSuchObjectException

++
||
++
++

In [21]:
spark.sql("USE orderTest")

++
||
++
++

In [24]:
spark.sql("SELECT CURRENT_DATABASE()")

+------------------+
|current_database()|
+------------------+
|         ordertest|
+------------------+

In [27]:
spark.sql("\
    CREATE TABLE orders(\
    order_id INT COMMENT 'unique id',\
    order_date DATE,\
    order_status BOOLEAN\
    )ROW FORMAT DELIMITED FIELDS TERMINATED BY ','")

2021-12-22 11:24:45,075 WARN metastore.HiveMetaStore: Location: hdfs://127.0.0.1:9000/user/itversity/warehouse/ordertest.db/orders specified for non-external table:orders

++
||
++
++

In [28]:
spark.sql("SHOW TABLES").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|ordertest|   orders|      false|
+---------+---------+-----------+

In [34]:
spark.sql("\
    INSERT INTO orders\
    VALUES(1, CAST('2021-12-22' AS DATE), false)")

++
||
++
++

In [35]:
spark.sql("SELECT * FROM orders").show()

+--------+----------+------------+
|order_id|order_date|order_status|
+--------+----------+------------+
|       1|2021-12-22|       false|
+--------+----------+------------+

In [39]:
spark.sql("SHOW DATABASES").show()

+-----------+
|  namespace|
+-----------+
|band_retail|
|    default|
|  ordertest|
|  retail_db|
+-----------+

In [40]:
spark.sql("USE band_retail")

++
||
++
++

In [41]:
spark.sql("SHOW TABLES")

+-----------+-----------+-----------+
|  namespace|  tableName|isTemporary|
+-----------+-----------+-----------+
|band_retail|order_items|      false|
|band_retail|     orders|      false|
+-----------+-----------+-----------+

In [43]:
spark.sql("""
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders AS o JOIN order_items AS oi
    ON o.order_id = oi.order_item_order_id
""").show()

+--------+--------------------+---------------+-------------------+
|order_id|          order_date|   order_status|order_item_subtotal|
+--------+--------------------+---------------+-------------------+
|       1|2013-07-25 00:00:...|         CLOSED|             299.98|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|             129.99|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|              250.0|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|             199.99|
|       4|2013-07-25 00:00:...|         CLOSED|             199.92|
|       4|2013-07-25 00:00:...|         CLOSED|              150.0|
|       4|2013-07-25 00:00:...|         CLOSED|             299.95|
|       4|2013-07-25 00:00:...|         CLOSED|              49.98|
|       5|2013-07-25 00:00:...|       COMPLETE|             129.99|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       5|2013-07-25 00:00:...|       COMPLETE|              99.96|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.95|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       7|2013-07-25 00:00:...|       COMPLETE|              79.95|
|       7|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       7|2013-07-25 00:00:...|       COMPLETE|             199.99|
|       8|2013-07-25 00:00:...|     PROCESSING|               50.0|
|       8|2013-07-25 00:00:...|     PROCESSING|             199.92|
|       8|2013-07-25 00:00:...|     PROCESSING|             299.95|
|       8|2013-07-25 00:00:...|     PROCESSING|             179.97|
+--------+--------------------+---------------+-------------------+
only showing top 20 rows

In [44]:
spark.sql("""
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_order_id,
    oi.order_item_subtotal
FROM orders AS o LEFT OUTER JOIN order_items AS oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL
LIMIT 10
""").show()

+--------+--------------------+---------------+-------------------+-------------------+
|order_id|          order_date|   order_status|order_item_order_id|order_item_subtotal|
+--------+--------------------+---------------+-------------------+-------------------+
|       3|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|       6|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      22|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      26|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      32|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      40|2013-07-25 00:00:...|PENDING_PAYMENT|               null|               null|
|      47|2013-07-25 00:00:...|PENDING_PAYMENT|               null|               null|
|      53|2013-07-25 00:00:...|     PROCESSING|               null|               null|
|      54|2013-07-25 00:00:...|PENDING_PAYMENT|               null|               null|
|      55|2013-07-25 00:00:...|        PENDING|               null|               null|
+--------+--------------------+---------------+-------------------+-------------------+

In [45]:
spark.sql("""
    CREATE TABLE orders_part (
    order_id INT,
    order_date STRING,
    order_customer_id INT,
    order_status STRING
    ) PARTITIONED BY (order_month INT)
    ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
""")

2021-12-22 12:07:35,086 WARN metastore.HiveMetaStore: Location: hdfs://127.0.0.1:9000/user/band/warehouse/band_retail.db/orders_part specified for non-external table:orders_part

++
||
++
++

In [47]:
spark.sql("DESCRIBE orders_part")

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|            order_id|      int|   null|
|          order_date|   string|   null|
|   order_customer_id|      int|   null|
|        order_status|   string|   null|
|         order_month|      int|   null|
|# Partition Infor...|         |       |
|          # col_name|data_type|comment|
|         order_month|      int|   null|
+--------------------+---------+-------+

In [68]:
spark.sql("""
    ALTER TABLE orders_part
    ADD COLUMN order_year INT
""")

++
||
++
++

In [69]:
spark.sql("DESCRIBE orders_part")

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|            order_id|      int|   null|
|          order_date|   string|   null|
|   order_customer_id|      int|   null|
|        order_status|   string|   null|
|          order_year|      int|   null|
|         order_month|      int|   null|
|# Partition Infor...|         |       |
|          # col_name|data_type|comment|
|         order_month|      int|   null|
+--------------------+---------+-------+

In [78]:
spark.sql("""
    ALTER TABLE orders_part
    ADD COLUMNS (order_name INT, order_bod INT)
""")

++
||
++
++

In [79]:
spark.sql("DESCRIBE orders_part")

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|            order_id|      int|   null|
|          order_date|   string|   null|
|   order_customer_id|      int|   null|
|        order_status|   string|   null|
|          order_year|      int|   null|
|          order_name|      int|   null|
|           order_bod|      int|   null|
|         order_month|      int|   null|
|# Partition Infor...|         |       |
|          # col_name|data_type|comment|
|         order_month|      int|   null|
+--------------------+---------+-------+

In [85]:
spark.sql("ALTER TABLE orders_part ADD PARTITION (order_month=201307)")

++
||
++
++

In [86]:
spark.sql("DESCRIBE orders_part")

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|            order_id|      int|   null|
|          order_date|   string|   null|
|   order_customer_id|      int|   null|
|        order_status|   string|   null|
|          order_year|      int|   null|
|          order_name|      int|   null|
|           order_bod|      int|   null|
|         order_month|      int|   null|
|# Partition Infor...|         |       |
|          # col_name|data_type|comment|
|         order_month|      int|   null|
+--------------------+---------+-------+

In [87]:
spark.sql("ALTER TABLE orders_part ADD PARTITION (order_month=202107)")

++
||
++
++

In [88]:
spark.sql("ALTER TABLE orders_part ADD PARTITION (order_month=202112)")

++
||
++
++

In [89]:
spark.sql("ALTER TABLE orders_part ADD PARTITION (order_month=2022)")

++
||
++
++

In [101]:
spark.sql("""ALTER TABLE orders_part ADD
        PARTITION (order_month=200299)
        PARTITION (order_month=200399)
        """)

++
||
++
++

In [102]:
spark.sql("""
    LOAD DATA LOCAL INPATH '/home/band/orders_part/orders_201307'
    INTO TABLE orders_part PARTITION (order_month=202107)
""")

2021-12-22 16:14:24,338 WARN hive.log: Updating partition stats fast for: orders_part
2021-12-22 16:14:24,341 WARN hive.log: Updated size to 64737

++
||
++
++

In [103]:
spark.sql("""
    LOAD DATA LOCAL INPATH '/home/band/orders_part/orders_201307'
    INTO TABLE orders_part PARTITION (order_month=201307)
""")

2021-12-22 16:14:42,351 WARN hive.log: Updating partition stats fast for: orders_part
2021-12-22 16:14:42,353 WARN hive.log: Updated size to 64737

++
||
++
++

In [104]:
spark.sql("SELECT * FROM orders_part LIMIT 10")

+--------+--------------------+-----------------+---------------+----------+----------+---------+-----------+
|order_id|          order_date|order_customer_id|   order_status|order_year|order_name|order_bod|order_month|
+--------+--------------------+-----------------+---------------+----------+----------+---------+-----------+
|     778|2013-07-29 00:00:...|             5759|       COMPLETE|      null|      null|     null|     202107|
|     779|2013-07-29 00:00:...|             2004|PENDING_PAYMENT|      null|      null|     null|     202107|
|     780|2013-07-29 00:00:...|             2016|       COMPLETE|      null|      null|     null|     202107|
|     781|2013-07-29 00:00:...|             7971|        PENDING|      null|      null|     null|     202107|
|     782|2013-07-29 00:00:...|            12213|       COMPLETE|      null|      null|     null|     202107|
|     783|2013-07-29 00:00:...|             8321|     PROCESSING|      null|      null|     null|     202107|
|     784|2013-07-29 00:00:...|             3321|PENDING_PAYMENT|      null|      null|     null|     202107|
|     785|2013-07-29 00:00:...|             8191|       COMPLETE|      null|      null|     null|     202107|
|     786|2013-07-29 00:00:...|             8974|         CLOSED|      null|      null|     null|     202107|
|     787|2013-07-29 00:00:...|             1150|         CLOSED|      null|      null|     null|     202107|
+--------+--------------------+-----------------+---------------+----------+----------+---------+-----------+

In [106]:
spark.sql("SET hive.exec.dynamic.partition")

+--------------------+-----------+
|                 key|      value|
+--------------------+-----------+
|hive.exec.dynamic...|<undefined>|
+--------------------+-----------+

In [107]:
spark.sql("SET hive.exec.dynamic.partition.mode")

+--------------------+-----------+
|                 key|      value|
+--------------------+-----------+
|hive.exec.dynamic...|<undefined>|
+--------------------+-----------+